<div class="container">
  <mat-form-field class="character-name" appearance="outline">
    <mat-label>Character Name</mat-label>
    <input matInput placeholder="Ex. Eldrin Stilmyst" value="Eldrin Stilmyst">
  </mat-form-field>
  <mat-form-field class="character-name" appearance="outline">
    <mat-label>Player Name</mat-label>
    <input matInput placeholder="Ex. John Doe" value="John Doe">
  </mat-form-field>
  <br>
  <mat-form-field class="str" appearance="outline">
    <mat-label>Strength</mat-label>
    <input matInput placeholder="Ex. 1" value="1" type="number"  >
  </mat-form-field>
</div>
